
.loanmain-bigpic-card-row-1{
    margin-top: -16%;
    max-height: 45rem;
}
.loanmain-bigpic-card-row-2{
    margin-top: -16%;
    max-height: 43rem;
    margin-bottom: -20%;
    margin-left: 10%;
    
}
.loanmain-bigpic-card-row-3{
    margin-top: -14%;
    max-height: 48rem;
    margin-bottom: -20%;
    margin-left: -15%;
    margin-right: -4%;
    
}
.loanmain-bigpic-card-row-4{
    margin-top: -5%;
    max-height: 40rem;
    
}