
.savings-bigpic-card-row-1{
    margin-top: -9%;
    max-height: 39rem;
    margin-left: -10%;
}
.savings-bigpic-card-row-2{
    margin-top: -9%;
    max-height: 43rem;
    margin-bottom: -20%;
    margin-left: -6%;
    
}
.savings-bigpic-card-row-3{
    max-height: 35rem;
   margin-left: -20%;
     margin-top: 6%;
}
.savings-bigpic-card-row-4{
    margin-top: -21%;
    max-height: 52rem;
    margin-left: -11%;
}