
.leasing-bigpic-card-row-1{
    margin-top: -18%;
    max-height: 48rem;
}
.leasing-bigpic-card-row-2{
    margin-top: -16%;
    max-height: 43rem;
    margin-bottom: -20%;
    margin-left: -10%;
    margin-right: -10%;
}
.leasing-bigpic-card-row-3{
    margin-top: -22%;
    max-height: 48rem;
    margin-bottom: -20%;
    margin-left: -15%;
    margin-right: -4%;
    
}
.leasing-bigpic-card-row-4{
    margin-top: -12%;
    max-height: 40rem;
    
}