
.fd-bigpic-card-row-1{
    margin-top: -18%;
    max-height: 48rem;
}
.fd-bigpic-card-row-2{
    margin-top: -16%;
    max-height: 43rem;
    margin-bottom: -20%;
    margin-left: 0%;
    margin-right: -5%;
}
.fd-bigpic-card-row-3{
    margin-top: -16%;
    max-height: 43rem;
    margin-bottom: -20%;
    margin-left: -23%;
    margin-right: -15%;
}
.fd-bigpic-card-row-4{
    margin-top: -22%;
    max-height: 40rem;
    
}