
  
.mid-dis-card-row-col-1{
    margin-top: -11%;
    max-height: 45rem;
    
}
 
.mid-dis-card-row-col-2{
    margin-top: -16%;
    max-height: 43rem;
    margin-bottom: -20%;
    margin-left: -23%;
    margin-right: -15%;
} 
.mid-dis-card-row-col-3{
    margin-top: -22%;
    max-height: 45rem;
    
}
